<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">    
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                   Cliente salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                   {{ erro }}
                 </div>
            </div>
        </div>

        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input id="id" type="text" class="form-control" disabled [ngModel]="cliente.id" name="id"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataCadastro">Data Cadastro:</label>
                    <input id="dataCadastro" type="text" class="form-control" disabled [ngModel]="cliente.dataCadastro" name="dataCadastro" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome">Nome: *</label>
                    <input id="nome" type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cpf">CPF: *</label>
                    <input id="cpf" type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="submit btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="submit btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" (click)="voltarParaListagem()" class="submit btn btn-danger ml-1" >
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>

